#errorMessage {
    color : red;
}

a {
    text-decoration: none;

}

.product-card {
    width: 240px
}

.centered{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.horizGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.vertGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.pos-fix{
    position: sticky!important;
    z-index: 999;
    top: 0;
    right: 0;
}

img {
    height: 10rem;
    width: 7rem;
}

.alignLeft {
    align-items: left;
}

.link {
    text-decoration: none;
}

.font-anton {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
}

.font-vuj {
    font-family: 'Vujahday Script', cursive;
    font-size: 1;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

.font-bangers {
    font-family: 'Bangers', cursive;
    font-size: 50px;
}
.font-big {
    font-size: 60px;
}

.font-lora {
    font-family: 'Lora', serif;

    font-size: 60px;

}

.Products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: stretch;

}

.ProductsCardPic{
    padding: 2px;
}

.Single-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    -webkit-box-shadow: 9px 6px 12px 1px rgba(0,0,0,0.34); 
    box-shadow: 9px 6px 12px 1px rgba(0,0,0,0.34);
    /* background-color: #fafcfc; */
    flex-grow: .25;
}